<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>hello,welcome to my website</h1>
<p>that is my first website, is only text and 1 image i know</p>
<a href="https://www.youtube.com/channel/UCCrnthkpChSz8Q2DdJRofZw">my cringe youtube chanel or rickroll</a>
<br>
<img src="/static/jJneZLjUsUvFK5y3bJNUdD-970-80.jpg.webp" width="1000">
<p class="author">By: {{post.username}}</p>
</body>
</html>